---
title: Home
description: The latest app to help you find new friends with common interests.
<!--image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png--!>
<!--image: https://chandra.harvard.edu/press/23_releases/crabx_864.jpg--!>
image : test_back.jpg
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">High Energy Astrophysics Lab</h1>
		<!--	<p class="subtext editable">Frisco helps you find new friends with common interests. Search for a new Tennis partner, find a baking side-kick or befriend a new drinking buddy.</p>--!>
			<p class="subtext editable">Welcome to the CBNU HEAP.</p>
			<!--<div class="cta button alt"><a href="#">Join Now</a></div>--!>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Introduction</h2>
				<p class="editable">We study high-energy phenomena in the Universe. Because high-energy radiation is often observed in astrophysical compact objects (neutron stars and black holes) implying existence of very energetic particles, compact objects are main targets for our research. We observe the targets using high-energy telescopes such as NuSTAR, Chandra, XMM-Newton, Swift, and Fermi LAT. When needed, we also use radio, IR and optical telescopes. The observational data are analyzed and interpreted with emission models. The modeling then tells us about the compact objects and particle acceleration in those objects.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://chandra.harvard.edu/press/23_releases/crabx_864.jpg" alt="Screenshot" />
				<p style="font-size:0.7vw"><cite>The Crab Nebula</cite> Credit: X-ray (IXPE: NASA), (Chandra: NASA/CXC/SAO) Image processing: NASA/CXC/SAO/K. Arcand &amp; L. Frattare</p>
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Pick your interests</h2>
				<p class="editable">The more you tell Frisco the better it gets to know you. Frisco matches you with people who share similar interests with you.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Swipe and go</h2>
				<p class="editable">Frisco shows you cards with people who might be a good match for friendship. Swipe left to move to the next card or right to start talking.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

<!--	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>--!>
</div>
